<% provide(:title, "Home") %>
<h1>
  Login
</h1>
<p>
  This is where I will put the Social Login stuff
</p>

<div id="results">
  <p>This is where I am putting the results</p>
  <p>
    <a href="#" onclick="this.style.backgroundColor='#009900';
    this.style.color='#FFFFFF';">Paint it green</a>
  </p>
<div>
