<!DOCTYPE html>
<html>
  <head>
    <title>Login | Social Login Example App</title>
  </head>
  <body>
    <h1>Login</h1>
    <p>
      This is where I will put the Social Login stuff
    </p>
  </body>
</html>
