<% provide(:title, "Home") %>
<h1>
  Login
</h1>

<div id="janrainEngageEmbed"></div>

<div id="results">
  <p>other experiment</p>
  <p>
    <a href="#" onclick="this.style.backgroundColor='#009900';
    this.style.color='#FFFFFF';">Paint it green</a>
    <br>
    <a href="#" onclick="paintIt(this, '#009900','#FFFFFF')">Paint it
      green with javascript</a>
  </p>
</div>
