<% provide(:title, "Temp page before User Profile Implemented") %>
<div class='center'>
  <h1>
    <%="Welcome #{@profile['name']['formatted']}" %>
  </h1>
  <p>
    I haven't created any user model or session on this site, so it's a
    strange url and I'm afraid I will have no memory of you (though Janrain
     will), even on page refresh.
  </p>
</div>
